.citylist {
  padding-top: 45px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.city {
  .title{
    font-size: 14px;
    padding: 10px 15px;
    color: #999;
  }
  .name{
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
  }
}